<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>473683169999-qv83vf5ktibt5v59u8l3b7m5dhi3vt54.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.473683169999-qv83vf5ktibt5v59u8l3b7m5dhi3vt54</string>
	<key>API_KEY</key>
	<string>AIzaSyAzi5krzxuCDBF04VRjG9CW3BNUeRWOoI4</string>
	<key>GCM_SENDER_ID</key>
	<string>473683169999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutterapp-ddc21</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterapp-ddc21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:473683169999:ios:53ccbb566d4e3982a8ddba</string>
</dict>
</plist>